AZURE_OPENAI_ENDPOINT=https://your-endpoint.cognitiveservices.azure.com/
AZURE_OPENAI_API_KEY=your-api-key
AZURE_OPENAI_DEPLOYMENT=gpt-5.1-chat
AZURE_OPENAI_API_VERSION=2024-12-01-preview





AZURE_OPENAI_IMAGE_GENERATION_ENDPOINT=https://plc-jira-openai.cognitiveservices.azure.com/openai/deployments/dall-e-3/images/generations?api-version=2024-02-01
AZURE_OPENAI_IMAGE_GENERATION_API_KEY=DcTmCc2QUJQQJ99CBACYeBjFXJ3w3AAABACOGATqB
AZURE_OPENAI_IMAGE_GENERATION_DEPLOYMENT=dall-e-3
AZURE_OPENAI_IMAGE_GENERATION_API_VERSION=2024-02-01